# ==============================================================================
# VETCRM - CONFIGURATION BACKEND (NESTJS)
# ==============================================================================

# --- SERVEUR ---
PORT=8098

# --- BASE DE DONNÉES ---
# En local : localhost | En Docker : db
DB_HOST=localhost
DB_PORT=5432
DB_USER=crm_admin
DB_PASS=crm_secure_password_123
DB_NAME=crm_database
